#header {
  background-color: rgba(255, 0, 0, 0.791);
  padding: 10px;
  top: 0;
  color: white;
}
#look {
  text-align: center;
}
p {
  padding-left: 50px;
  padding-right: 50px;
}
#schools {
  padding-left: 40px;
  padding-right: 40px;
}

#school_label {
  padding-left: 60px;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: left;

  position: absolute;
  bottom: 1;
  width: 99%;
}
img {
  position: absolute;
  right: 0;
}
#map {
  height: 300px;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 2%;
}
