footer {
  position: fixed;
  bottom: 0;
}

.container {
  border: 2px solid black;
  text-align: center; /* Center-align text horizontally */
  padding: 10px; /* Add some padding for spacing */
}
.header {
  text-align: center;
}
#return {
  background-color: green; /* Green background color */
  color: white; /* White text color */
  padding: 10px; /* Add some padding for spacing */
  width: 200px;
  text-decoration: none;
}
