#header {
  background-color: green;
  color: white;
}

body {
  background-color: #e5eaf5;
  background-image: url("/static/back.jpeg");
  color: white;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
