<!DOCTYPE html>
<html>
  <head>
    <title>CPP Calculator</title>
    <link rel="stylesheet" href="/static/css/csuf.css" />
  </head>

    <h1 id="header">CSUF Degree Calculator.
    </h1>
    <!-- This links the recourses page -->
    
    <h2 id="resources"><a href="/resources">RESOURCES</a></h2>
   
    <!-- values that we will subtract from cost -->
    <div id="add">
      <form action="/add" method="POST">
        <label for="num1">Financial aid:</label>
        <input type="text" id="num1" name="num1" /><br /><br />
        <label for="num2">Scholarships: </label>
        <input type="text" id="num2" name="num2" /><br /><br />
        
        <!-- housing section -->
  <label for="housing">Choose your housing</label>
  <select name="housing" id="housing">
  <option value="13710">On-campus (Dorms)</option>
  <option value="15078">On-campus (Suites)</option>
  <option value="14604">Off-campus (Apartment)</option>
  <option value="0">N/A</option><br /><br />
  </select><br /><br />

 <!-- full time or part time -->
  <label for="credits">How many units?</label>
  <select name="credits" id="credits">
  <option value="7078">Full-Time</option>
  <option value="4666">Part-Time </option>
</select>
<br /><br /> 

<!-- add button -->
<input type="submit" value="Calculate" /> <br /><br />    

 </form>
    </div>
  </body>
 
</html>
