<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" src="/static/index.js"></script>
    <link rel="stylesheet" href="/static/css/home.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2 id="header">The California State University</h2>
    <h1 id="look">Looking for the right college?</h1>
    <p>
      Choosing a college is about more than the name on the diploma. Where
      students go to school touches numerous aspects of their lives, from
      academic studies to social activities and beyond.College can be an
      expensive investment: The average cost of college for an in-state student
      at a public college is $25,890 per year and the price goes up to $41,950
      for an out-of-state school. With this kind of cost, you might find
      yourself unable to afford your college expenses. Maybe you cant get
      financial aid or student loans by the beginning of the semester — or maybe
      you've even run out of funds mid-semester.
    </p>
    <br />
    <h1 id="look">Calculating The Cost</h1>
    <p>
      The cost of college is made up of tuition, room and board, fees, books and
      supplies, transportation and personal expenses. The cost of college is
      different for every student because it is based on your program of study,
      your year in school, your living arrangements and your lifestyle. The
      following information will help you estimate your annual cost of
      attendance at the following schools:
    </p>
    <h4 id="schools">
      <a href="/cpp"> California Polytechnic State University, Pomona:</a>
    </h4>
    <p>
      <strong>
        California State Polytechnic University, Pomona, is a public polytechnic
        university and Hispanic-serving institution partially in Pomona,
        California. It has the largest student body of the three polytechnic
        universities in the California State University system. It has a total
        undergraduate enrollment of 25,181 (fall 2022), and the campus size is
        1,438 acres. It utilizes a semester-based academic calendar. California
        State Polytechnic University—Pomona's ranking in the 2024 edition of
        Best Colleges is Regional Universities West, #3.
      </strong>
    </p>
    <h5 id="school_label">
      <a
        href="https://www.google.com/maps/place/California+Polytechnic+State+University,+Pomona/@34.0555994,-117.819263,15z/data=!4m6!3m5!1s0x80c32ea5e3dc4361:0x904ae4ed22c91eeb!8m2!3d34.0555994!4d-117.819263!16zL20vMDJnbmgw?entry=ttu"
      >
        Address:</a
      >
      3801 W Temple Ave, Pomona, CA 91768
    </h5>

    <!-- NEW SCHOOL -->
    <h4 id="schools">
      <a href="/csuf"> California State University, Fullerton:</a>
    </h4>
    <p>
      <strong>
        California State University, Fullerton is a public university in
        Fullerton, California. With a total enrollment of more than 41,000, it
        has the largest student body of the California State University system,
        and its graduate student body of more than 5,000 is one of the largest
        in the CSU and in all of California. It has a total undergraduate
        enrollment of 35,239 (fall 2022), and the campus size is 236 acres. It
        utilizes a semester-based academic calendar. California State
        University—Fullerton's ranking in the 2024 edition of Best Colleges is
        National Universities, #133.
      </strong>
    </p>
    <h5 id="school_label">
      <a
        href="https://www.google.com/maps/place/California+State+University,+Fullerton/@33.8823476,-117.8851033,15z/data=!4m2!3m1!1s0x0:0x2b9810bbb94af355?sa=X&ved=2ahUKEwiZ5dvI2u6BAxVjMUQIHZ84DsIQ_BJ6BAhiEAA&ved=2ahUKEwiZ5dvI2u6BAxVjMUQIHZ84DsIQ_BJ6BAhnEAg"
      >
        Address:</a
      >
      800 N State College Blvd, Fullerton, CA 92831
    </h5>
    <!-- NEW SCHOOL -->
    <h4 id="schools">
      <a href="/csula"> California State University, Los Angeles:</a>
    </h4>
    <p>
      <strong>
        California State University—Los Angeles is a public institution that was
        founded in 1947. It has a total undergraduate enrollment of 22,536 (fall
        2022), and the campus size is 175 acres. It utilizes a semester-based
        academic calendar. California State University—Los Angeles' ranking in
        the 2024 edition of Best Colleges is Regional Universities West, #21.
      </strong>
    </p>
    <h5 id="school_label">
      <a
        href="https://www.google.com/maps/place/California+State+University,+Los+Angeles/@34.0663797,-118.1684782,15z/data=!4m2!3m1!1s0x0:0xda4a5ce481ad565e?sa=X&ved=2ahUKEwidz-_k3e6BAxWyIEQIHaLaCcEQ_BJ6BAhaEAA&ved=2ahUKEwidz-_k3e6BAxWyIEQIHaLaCcEQ_BJ6BAhjEAg"
      >
        Address:</a
      >
      5151 State University Dr, Los Angeles, CA 90032
    </h5>
    <div id="map"></div>
    <!-- prettier-ignore -->
    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyBfZlaDuU9ln09kWRD3I9qumc727t6fitE", v: "beta"});</script>
        </div>
  </body>
   <footer>
    <p>
      Created by Daniel Porras, Christian Grewal, Diego Giron &copy; 2023
      <a href="https://github.com/GPT-Degree/CPPdegree"
        ><img
          class="github"
          src="static/Github-logo.png"
          alt="Github logo"
          width="55"
          height="35"
        />
      </a>
    </p>
  </footer> 
</html>
