<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resources</title>
  </head>
  <body>
    <h2>Cal Poly Pomona:</h2>
    <p>
      <a href="https://csupomona.academicworks.com/">Scholarships Portal:</a>
      CPP's official scholarship database. Valuable information for new students
      who are unaware of any scholarships they might be eligible for.
    </p>
    <p>
      <a href="https://www.cpp.edu/housing/index.shtml">Housing:</a>
      CPP's official housing information site. Useful for any incoming students
      or even currently-enrolled students who want to know more about living on
      campus
    </p>
    <p>
      <a href="https://www.csac.ca.gov/">Student Aid Commission:</a>
      The official California Student Aid Commission. A great site for students
      who wish to apply for grants, scholarships, or find other ways to pay for
      college.
    </p>
    <p>
      <a href="https://studentaid.gov/h/apply-for-aid/fafsa">FAFSA:</a>
      FAFSA. The most common and arguably the most important form of student
      aid. Yearly applications open up in December and are a must for anyone
      seeking financial aid.
    </p>

    <h2>Cal State Fullerton:</h2>

    <p>
      <a href="https://www.fullerton.edu/financialaid/general/scholarships.php"
        >Scholarships:</a
      >
      CSUF's official scholarship database. Valuable information for new
      students who are unaware of any scholarships they might be eligible for. A
      great site for students who wish to apply for grants, scholarships, or
      find other ways to pay for college.
    </p>
    <p>
      <a
        href="https://www.fullerton.edu/housing/future_residents/HowToApplyForHousing.php"
        >Housing:</a
      >
      CSUF's official housing information site. Useful for any incoming students
      or even currently-enrolled students who want to know more about living on
      campus.
    </p>
    <p>
      <a href="https://www.fullerton.edu/financialaid/apply/disbursment.php"
        >Receiving Aid:</a
      >
      The Office of Financial Aid works in conjunction with Student Business
      Services to pay accepted financial aid awards to students. These payments
      are called “disbursements” and begin the week before classes start each
      semester. Aid is disbursed to eligible students a week prior to the first
      day of classes each semester, and thereafter as available.
    </p>

    <h2>Cal State Los Angeles:</h2>
    <p>
      <a href="https://www.calstatela.edu/financialaid/scholarships"
        >Scholarships:</a
      >
      Cal State LA has over 400 scholarship opportunities to support your
      educational goals. You can browse the various scholarships available on
      the Cal State LA Scholarships Application site during the scholarship
      application season (March 3, 2023 - April 13, 2023). The scholarships are
      made available through the generosity of our University donors, alumni,
      and friends. Please keep in mind, if you completed the FAFSA or California
      Dream Act Application these scholarship opportunities will be coordinated
      along with other financial aid and outside agency financial aid programs.
    </p>
    <p>
      <a href="https://www.calstatela.edu/housing/how-apply">Housing:</a>
      Cal State LA offers a variety of housing options for students. Whether you
      are a first-year student, transfer, graduate or international student, we
      have housing options for you. We offer traditional residence halls,
      suites, and apartments. Our housing options are affordable and convenient.
      Living on campus is a great way to meet new people, make lifelong friends,
      and be close to classes, labs, and campus resources.
    </p>
    <p>
      <a href="https://www.calstatela.edu/financialaid">Aid:</a>
      The Office of Financial Aid and Scholarships provides assistance to
      students in securing federal, state, and institutional aid to achieve
      their degree. We are committed to providing quality service to students
      and others in the university community. We are dedicated to providing
      accurate information and guidance to students and their families in a
      timely manner. We are committed to the highest standards of professional
      conduct and ethics.
    </p>
  </body>
</html>
